html,body{
    height:100%; 
    /* The old syntax*/
    background: linear-gradient(left,#E7E7E7, skyblue,#E7E7E7);
    /* The new syntax*/
    background: linear-gradient(to right, #E7E7E7, skyblue,#E7E7E7);
    width: 100%;
}

.wrapper{
    margin:0 auto;
  }

.container{
    display: flex;
    justify-content: center;
}

.word{
    display:flex;
    text-align:justify;
    font-family: "BenchNine";
    line-height:0.8;
    text-transform:uppercase;
    letter-spacing:0px;
  }
  
  .word1, .word2 {color:#9BC5DE}
  .word3, .word4 {color:#90B3C9}
  .word5, .word6{color:#809BB0}
  .word7 {color:#6B7B8A}
  .word8, .word9{color:#8B8091}
  .word10, .word11{color:#B68FA2}
  .word12, .word13{color:#D99AB5}
  
  .word1{font-size:6.3em}
  .word2{font-size:8.1em}
  .word3{font-size:4.8em}
  .word4{font-size:6.4em}
  .word5{font-size:3.8em}
  .word6{font-size:6em}
  .word7{font-size:4.5em;}
  .word8{font-size:4.8em}
  .word9,.word11{font-size:7.9em;}
  .word10{font-size:4.9em}
  .word12{font-size:8.2em;}
  .word13{font-size:7.8em;}
  
  .thought {
    display:flex;
    background-color:#9BC5DE;
    padding:20px;
    border-radius:30px;
    min-width:40px;
    max-width:220px;
    min-height:40px;
    margin:20px;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-family: "BenchNine";
  }
  .thought:before,
  .thought:after {
    content:"";
    background-color:#9BC5DE;
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
  }
  .thought:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px #9BC5DE;
  }
  .thought:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0 #9BC5DE,
               -28px -6px 0 -2px #9BC5DE,
               -24px 17px 0 -6px #9BC5DE,
               -5px 25px 0 -10px #9BC5DE;
    
  }
  
  .smallScale {
    height: 280px;
    width: 210px;
  }